{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
          "useBuiltIns": true
      }],
      "react"
    ],
    "plugins": [
        "transform-remove-strict-mode"
    ]
}